AddDefaultCharset utf-8

RewriteEngine on
RewriteRule ^styles/(.+).css$ /app/templates/styles/$1.css [L]
RewriteRule ^styles/(.+).scss$ /app/templates/styles/$1.scss [L]
RewriteRule ^styles/(.*).css.map$ app/templates/styles/$1.css.map [L,QSA]
RewriteRule ^scripts/(.+).js$ app/templates/scripts/$1.js [L]

RewriteRule ^images/(.+).svg$ app/templates/images/$1.svg [L]
RewriteRule ^images/(.+).webp$ app/templates/images/$1.webp [L]
RewriteRule ^images/(.+).png$ app/templates/images/$1.png [L]
RewriteRule ^images/(.+).jpeg$ app/templates/images/$1.jpeg [L]
RewriteRule ^favicon.ico$ app/templates/images/favicon.ico [L]

RewriteRule ^profile/images/(.+).svg$ app/templates/images/$1.svg [L]
RewriteRule ^profile/images/(.+).webp$ app/templates/images/$1.webp [L]
RewriteRule ^profile/images/(.+).png$ app/templates/images/$1.png [L]
RewriteRule ^profile/images/(.+).jpeg$ app/templates/images/$1.jpeg [L]

RewriteRule ^ad/images/(.+).svg$ app/templates/images/$1.svg [L]
RewriteRule ^ad/images/(.+).webp$ app/templates/images/$1.webp [L]
RewriteRule ^ad/images/(.+).png$ app/templates/images/$1.png [L]
RewriteRule ^ad/images/(.+).jpeg$ app/templates/images/$1.jpeg [L]

RewriteRule ^fonts/(.+).woff2$ app/templates/fonts/$1.woff2 [L,QSA]
RewriteRule ^fonts/(.+).woff app/templates/fonts/$1.woff [L,QSA]
RewriteRule ^fonts/(.+).ttf$ app/templates/fonts/$1.ttf [L,QSA]
RewriteRule ^fonts/(.+).eot$ app/templates/fonts/$1.eot [L,QSA]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php